// 默认值
$accentColor = #363062                  // 主题颜色
$textColor = #3E4149                      // 文本颜色
$borderColor = #E6BA95                     // 边框线颜色
$codeBgColor = #A2B38B                    // 代码块背景色
$backgroundColor = #FAFDD6 // 悬浮块背景色


